@import "mixins";
@import "fonts";
@import "variable";

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: #262262;

  &:hover {
    text-decoration: none;
    color: red;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.header {
  border-bottom: 1px rgba(38, 34, 98, .3) solid;

  .logo {
    a {
      img {
        height: 50px;
      }
    }
  }
}

.pd0 {
  padding: 0 !important;
}

.mg0 {
  margin: 0 !important;
}

h1 {
  font-size: 20px;
  margin: 0;
  text-align: left;
  padding: 20px;
  font-family: $iCielSamsungSharpSans-Bold;
}

.bdr-left {
  border-left: 1px rgba(0, 0, 0, .1) solid;
}

.bdr-right {
  border-right: 1px rgba(0, 0, 0, .1) solid;
}

.block-title {
  color: #646464;
  font-size: 22px;
  font-family: Roboto;
  margin-bottom: 20px;
}

.courses {
  //margin: 50px 0;
}

ul.course-menu {
  border: 1px solid #d0d0d0;

  li {

    a {
      color: #4d4d4d;
      cursor: pointer;
      background-color: #f1f1f1;
      font-size: 14px;
      padding: 12px 0 12px 40px;
      display: block;
      text-decoration: none;
      border-top: 1px solid #d0d0d0;

      &:hover {
        background-color: #f8f8f8;
        text-decoration: none;
      }
    }
  }
}

.footer {
  border-top: 1px rgba(38, 34, 98, .3) solid;
  padding: 10px;
}

.list-courses {
  width: 60%;
  margin: auto;
  margin-bottom: 50px;

  li {
    section {
      border: 1px rgba(0, 0, 0, .1) solid;
      padding: 20px;
      margin-bottom: 20px;

      &:hover {
        background: #f6f6f6;
      }

      .cource-info {
        .title-course {
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        .teacher {
          color: rgba(0, 0, 0, .5);
          margin-bottom: 10px;
        }

        .date {
          color: rgba(0, 0, 0, .5);
          margin-bottom: 10px;
        }

      }

      .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;

        .cource-continued {
          padding: 10px 20px;
          border: 1px rgba(0, 0, 0, .1) solid;
          text-decoration: none;
        }
      }
    }
  }
}

.course-detail {
  .course-navigation {

    background-color: #f0f0f0;

    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    bottom: 0;
    left: 0;
    top: 83px;
    padding: 0;
    padding-top: 20px;
    z-index: 1;

    .course-navigation-item {
      padding-left: 56px;
      padding-top: 10px;
      padding-bottom: 10px;

      &.selected {
        background-color: #fff;
        border-left: 8px solid #2775d1;
      }
    }
  }

  .back {
    margin: 20px 0;
    border-right: 1px #ccc solid;
  }

  .video-content {
    padding: 20px;
    min-height: 500px;

    .video-function {
      text-align: right;
    }
  }

  .course-content {

    height: auto;
    border-left: 1px #CCCCCC solid;
    width: calc(100% - 280px);


    .course-content-body {
      margin: 0 auto;
      max-width: 1000px;
      padding: 20px 20px 32px;

      h1 {

        line-height: 36px;
        margin: 10px 0;
      }

      .course-card {
        border: 1px solid rgba(0, 0, 0, .1);
        padding: 15px;
        margin-bottom: 20px;
        background-color: #fafafa;
        position: relative;
      }
    }
  }
}

.courseweekcards {
  li {
    div.card-detail {
      border: 1px solid rgba(0, 0, 0, .1);
      margin-bottom: 30px;

      h2 {
        margin: 0;
        width: 100%;
        background-color: #f7f7f7;
        min-height: 44px;
        text-align: left;
        padding-left: 16px;

        span {
          font-size: 20px;
        }
      }

      .body-content {
        section.module-section {
          padding: 24px;

          .chuyende {
            .title {
              text-align: left;
              width: 70%;
              float: left;
              padding: 10px 0;
              margin: 10px 0;
            }

            .learn {
              text-align: center;
              width: 30%;
              float: left;
              padding: 10px 0;
              margin: 10px 0;
            }
          }
        }
      }
    }
  }
}

.listModule {
  li {

    > a {
      display: block;
      text-decoration: none;
      font-size: 14px;
      min-height: 40px;
      overflow: visible;
      color: #373a3c;
      padding: 8px 8px 8px 20px;
      font-weight: bold;

      &:hover {
        box-shadow: 0 0 0 #0069d9;
        text-decoration: none;
        color: #373a3c;
        background-color: #fafafa;
      }
    }

    ul.sub-menu {
      background: #ffffff;
      padding-left: 10px;

      li {
        a {
          font-weight: normal;
        }
      }
    }
  }
}

.course-breadcrumb {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, .12);

  .c-back {
    a {
      color: #525252;
      font-size: 12px;
    }

    border: none;

    min-width: 72px;
    padding: 0 10px;
    background-color: transparent;
    border-right: 1px solid rgba(0, 0, 0, .12);

  }
}

.learn {
  position: relative;
  min-height: 1000px;

  .c-navigation {

    bottom: 0;
    left: 0;
    top: 83px;
    padding: 0;
    padding-top: 20px;
    background-color: #f0f0f0;
    height: 100%;

    ul {
      li {

        a {
          text-decoration: none;
          display: block;
          padding: 10px 20px;
        }

        &:hover {
          background-color: #fafafa;
        }
      }
    }
  }

  .c-content {
    padding: 15px;
    text-align: center;
    border-right: 1px #ccc solid;
    border-left: 1px #ccc solid;

    h1 {
      text-align: left;
      font-size: 20px;
    }

    .video-playing {
      margin: 0 auto;
      padding: 0 36px;
      max-width: 1000px;

      iframe {
        height: 500px;
        width: 800px;
      }

    }

  }

  .chat {

  }
}

.loginout {
  height: 65px;
  padding: 20px 0;

  li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;

    a.btn-primary {
      border: 1px solid #2073d4;
      background-color: #2073d4;
      border-radius: 20px;
    }
  }
}

.login-box-body {
  margin: 20px 0;
}

.home-slider {
  background: url('https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/growth_frontpage/banner.jpg') no-repeat;
  position: relative;
  -ms-background-size: cover;
  background-size: cover;
  background-position: 100%;
  height: 580px;

}

.bg-gray {
  background: #f6f6f6;
}

.home-block {
  margin: 20px 0;
  padding: 20px 0;

  .block-title {
    font-family: $iCielSamsungSharpSans-Bold;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
  }

  div.block-title-sub {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
  }
}

.home-course-list {
  .course-item {
    display: inline-block;
    margin-bottom: 20px;

    .course-info {
      padding: 10px 265px 5px 14px;
      position: relative;
      border-top: 2px solid #3b99d7;
      cursor: default;
      transition: all 0.3s;

      .title {
        font-size: 20px;
        font-family: $iCielSamsungSharpSans-Bold;
        text-transform: uppercase;
        color: #333333;
      }

      .desc {
        width: 260px;
      }
    }

    .course-thumb {
      float: right;
      width: 250px;

      img {
        width: 100%;
      }
    }
  }
}

.list-teacher {
  .teacher-item {
    .thumb {
      text-align: center;

      img {
        width: 100%;
        border-radius: 50%;
        width: 215px;
        height: 215px;
      }
    }

    .title {
      font-family: $iCielSamsungSharpSans-Bold;
      font-size: 24px;
      text-align: center;
      padding: 20px 0;
    }

    .position {
      font-family: $iCielSamsungSharpSans-Bold;
      font-size: 16px;
      text-align: center;
    }

    .desc {
      padding: 10px 0;
      text-align: center;
    }
  }
}

.footer {
  background-color: rgb(53, 72, 109);
  padding: 20px 0;
  color: #ffffff;
  font-family: $iCielSamsungSharpSans-Bold;

  .f-title {
    color: #ffffff;
    font-family: $iCielSamsungSharpSans-Bold;
    font-size: 28px;
  }

  .title {
    color: #ffffff;

    font-family: $iCielSamsungSharpSans-Bold;
  }

  ul {
    li {

    }
  }
}

.thi-content {
  .question-item {

    .content {
      padding: 10px 0;
    }

    .answer-list {
      ul {
        padding: 10px 0;
        li {
          display: inline-block;
          width: 24%;
          text-align: center;

          div {
            background: #CCCCCC;
            display: block;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            color: #ffffff;
            font-weight: bold;

            &.active {
              background: #ff0000;

            }

            &:hover {
              background: #ff0000;
            }
          }
        }
      }
    }
  }
}
.article-start{
  text-align: center;
  margin: 10px 0;
}
.clockdiv {
  text-align: center;
  color: #ff0000;
  font-size: 30px;
  font-weight: bold;
}

/* Time line*/
.main-timeline {
  font-family: 'Oxygen', sans-serif;
  position: relative;
}

.main-timeline:before {
  content: '';
  height: 100%;
  width: 1px;
  border-left: 3px dashed #fff;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 0;
}

.main-timeline .timeline {
  padding-left: 10px;
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 120px;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after {
  content: '';
  height: 5px;
  width: 5px;
  background-color: #FFAC3A;
  border-radius: 50%;
  border: 5px solid #FEC93F;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}

.main-timeline .timeline-content {
  color: #000;
  background-color: #fff;
  width: 40%;
  border-radius: 10px;
  display: block;
  position: relative;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
}

.main-timeline .title {
  color: #0C3F42;
  background-color: #FEC93F;
  font-size: 14px;

  text-transform: uppercase;
  letter-spacing: 1px;
  padding:5px;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

.main-timeline .description {
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px;
  margin: 0;
}

.main-timeline .timeline-icon {
  color: #0C3F42;
  background-color: #FFC83F;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  transform: translateY(-50%);
  position: absolute;
  left: -35px;
  top: 63%;
}

.main-timeline .timeline:nth-child(even) {
  padding-left: 0;
  padding-right: 10px;
}

.main-timeline .timeline:nth-child(even):after {
  color: #0C3F42;
  background-color: #FFC83F;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
  float: right;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
  left: auto;
  right: -35px;
}

.main-timeline .timeline:nth-child(even) .description {
  padding: 10px;
}

.main-timeline .timeline:nth-child(4n+2):before {
  background-color: #2980b9;
  border: 5px solid #55b0ed;
}

.main-timeline .timeline:nth-child(4n+2) .title,
.main-timeline .timeline:nth-child(4n+2) .timeline-icon {
  background-color: #55b0ed;
}

.main-timeline .timeline:nth-child(4n+3):before {
  background-color: #c0392b;
  border: 5px solid #ff665b;
}

.main-timeline .timeline:nth-child(4n+3) .title,
.main-timeline .timeline:nth-child(4n+3) .timeline-icon {
  background-color: #ff665b;
}

.main-timeline .timeline:nth-child(4n+4):before {
  background-color: #16964b;
  border: 5px solid #2ecc71;
}

.main-timeline .timeline:nth-child(4n+4) .title,
.main-timeline .timeline:nth-child(4n+4) .timeline-icon {
  background-color: #2ecc71;
}

@media screen and (max-width: 990px) {
  .main-timeline .timeline:after {
    left: 40%;
  }

  .main-timeline .timeline:nth-child(even):after {
    right: 40%;
  }

  .main-timeline .timeline:nth-child(even) .timeline-content,
  .main-timeline .timeline-content {
    width: 39%;
  }
}

@media screen and (max-width: 767px) {
  .main-timeline:before {
    transform: translateX(0);
    left: 0;
  }

  .main-timeline .timeline:nth-child(even),
  .main-timeline .timeline {
    padding: 40px 30px 0;
    margin-bottom: 30px;
  }

  .main-timeline .timeline:before {
    transform: translateX(0) translateY(-50%);
    left: -11px;
  }

  .main-timeline .timeline:nth-child(even):after,
  .main-timeline .timeline:after {
    left: 28px;
  }

  .main-timeline .timeline:nth-child(even) .timeline-content,
  .main-timeline .timeline-content {
    width: 100%;
  }

  .main-timeline .timeline:nth-child(even) .timeline-icon,
  .main-timeline .timeline-icon {
    font-size: 30px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    transform: translateY(0);
    left: auto;
    right: -20px;
    top: -35px;
  }

  .main-timeline .title {
    font-size: 20px;
  }

  .main-timeline .timeline:nth-child(even) .description,
  .main-timeline .description {
    padding: 15px 15px 15px 15px;
  }
}

/*   End Timeline*/